* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    background-color: black;
    color: rgb(66, 3, 8);
    text-shadow: 1px 1px  white;
    font-family: serif;
}

.grid-container {
    max-width: 100%;
    /* height: 1000vh; */
    padding: 4rem;
    background-color: black;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
.grid-container > div {
    background-color: white;
}
.grid-container > div:first-child {
    grid-column: 1;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-row: 1;
}
.grid-container > div:first-child .logo {
    width: 40px;
}
.grid-container > div:first-child ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.grid-container > div:first-child ul li a {
    padding: 8px 10px;
    background-color: black;
    color: white;
    text-decoration: none;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.grid-container > div:first-child ul li a:hover {
    background-color: white;
    color: black;
    transition: 0.5s ease-in-out;
}
.grid-container > div:nth-child(2) {
    /* background-color: green; */
    grid-column: 2/ span 2;
    grid-row: 1;
    border-radius: 20px;
    height: 200px;
}
.grid-container > div:nth-child(2) > img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    /* box-shadow: 5px 5px red; */
}

.grid-container > div:nth-child(3) {
    grid-column: 1 / span 2;
    grid-row: 2;
    height: 200px;
    border-radius: 20px;
}
.grid-container > div:nth-child(3) > img {
    width: 100%;
    height: 100%; 
    border-radius: 20px ;
    box-shadow: 5px 5px rgba(255, 255, 255, 0.521);
    
}

.grid-container > div:nth-child(6) {
    grid-column: 2/ span 2;
    grid-row: 3;
    height: 200px;
    border-radius: 30px;
}

.grid-container > div:nth-child(6) > img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        box-shadow: 5px 5px goldenrod;
}

.logo1 {
    background-color: black;
}

 .logo {
        width: 40px;
}

.logo1 > ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
    
}


.logo1 > ul li a {
padding: 15px 30px;
    background-color: white;
    color: rgb(19, 18, 18);
    text-decoration: none;
    margin-right: 20px;
    border: 1px solid white;
    border-radius: 5px;
}

.logo1 > ul li a:hover {
    background-color: white;
    color: black;
    transition: 0.5s ease-in-out;
    border-bottom: 5px solid rgb(15, 2, 63);
    box-shadow: 5px 5px rgba(255, 255, 255, 0.411);
}
